.venv

# Ignore the data folder and all its contents
data/

# Ignore the cache folder and all its contents
cache/
figures/
results/
__pycache__/
bluesky_scenarios/
.DS_Store
__pycache__/data_loader.cpython-312.pyc
